<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Details ?</title>
  </head>
  <body>
    <table th:if="${not (users.isEmpty())}" border="1">
      <thead>
        <tr>
          <th>Nombre de usuario</th>
          <th>Apellidos de usuario</th>
          <th>Correo electronico</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user: ${users}">
          <td th:text="${user.name != null ? user.name : 'Sin nombre'}"></td>
          <td th:text="${user.surname}"></td>
          <td th:text="${user.email}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
