<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Página</title>
  </head>
  <body>
    <h1>Hola Spring Boot</h1>
    <h2 th:text="${lst[1].name}"></h2>
    <ol th:if="${not (lst.isEmpty())}">
      <li
        th:each="user : ${lst}"
        th:text="${user.name != null ? user.name : 'No encontre nombre'}"
      ></li>
    </ol>
  </body>
</html>
